/homework/hw3/assignment3part6/nbproject/private/
/homework/hw3/assignment3cc/build/
/homework/hw3/assignment3cc/dist/
/homework/hw3/assignment3cc/nbproject/private/
/homework/hw3/hw3part4/nbproject/private/